<form (ngSubmit)="handleSearch()" [formGroup]="searchForm" class="py-5 px-2">
  <div class="grid grid-cols-2 md:grid-cols-4 xl:grid-cols-8 gap-2">
    @for (config of formConfig(); track config.prop) {
      @switch (config.type) {
        @case ('input') {
          <p-floatlabel>
            <input [formControlName]="config.prop" class="w-full" pInputText type="text" [id]="config.prop" />
            <label [for]="config.prop">{{ config.label | translate }}</label>
          </p-floatlabel>
        }
      }
    }
    <div class="grid grid-cols-2 gap-2">
      <button pButton pRipple type="submit">
        <span pButtonLabel>{{ '搜索' | translate }} </span>
      </button>
      <button (click)="handleReset()" pButton pRipple severity="secondary">
        <span pButtonLabel>{{ '重置' | translate }}</span>
      </button>
    </div>
  </div>
</form>
