<form (ngSubmit)="handleSearch()" [formGroup]="searchForm">
  @for (config of formConfig(); track config.prop) {
    <div class="card flex justify-center">
      <input [formControlName]="config.prop" pInputText type="text" [placeholder]="config.placeholder | translate" />
    </div>
  }
  <button pButton pRipple type="submit">
    <span pButtonLabel>{{ '搜索' | translate }} </span>
  </button>
  <button (click)="handleReset()" pButton pRipple>
    <span pButtonLabel>{{ '重置' | translate }}</span>
  </button>
</form>
