:root {
	--cc-header-height: 64px;
	--cc-aside-width: 250px;
	--cc-min-width: 1200px;
	--cc-body-bg: #f6f8fc;
	--cc-hover-bg: rgba(32, 33, 36, 0.059);
	--cc-menu-select: rgba(0, 92, 187, 0.15);
	--cc-primary-text-color: #005cbb;
	--cc-text-small: 14px;
	--cc-text-medium: 16px;
	--cc-text-large: 18px;
}
